@import url(https://fonts.googleapis.com/css?family=Baloo+Bhai);

body, html{
  height:100%;
}
body{
  margin: 0px;
  background: black url('images/dancefloor1.gif') center no-repeat;
  background-size: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.topbar{
  height:32px;
  background-color: #555;
}

.dancer{
  position:absolute;
}

.lineUp, .moveLeft, .moveRight, .addDancerButton, .interact {
  display: flex;
  flex-direction: row;
  float: right;
  color: white;
  font-size: 15px;
  font-family: Verdana, sans-serif;
  background-color: rgb(69, 69, 69);
  text-decoration-color: rgb(69, 69, 69);
  padding:5px 12px;
  border: 1px solid silver;
}

.addEddieButton{
  float: left;
}

.addCharlieButton{
  float: left;
}

.title{
  background-color: rgb(98, 98, 98);
  font-family: 'Baloo Bhai', sans-serif;
  font-size: 25px;
  text-align: center;
  padding:10px;
  display:block;
  margin:auto;
}

.cbd{
  display: flex;
  justify-content: center;
  height: 300px;
  position: absolute;
}

.eddie{
  display: flex;
  justify-content: center;
  height: 300px;
  position: absolute;
}
.eddie:hover, .cbd:hover {
  background-color: aliceblue;
  /* background-color: rgba(255, 251, 147, .3); */
  border-radius: 50%;
 }

.music {
  opacity: 0.5;
  padding: 10px;
  margin-left: 350px;
}